:root {
  --primary-color: #fc353a;
}

.main-container {
  background: #fc353a;
  margin: 0px 3%;
  border-radius: 2rem;

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    padding-top: 25px;
  }

  .logo-block {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .logo {
    line-height: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p {
      font-weight: 500;
      font-size: 40px;
      color: white;
    }
  }

  .custom-selection-block {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    background: #fd8588;
    color: white;
    padding: 0px 15px;
    border-radius: 35px;
    height: 50px;
    font-weight: 500;

    p {
      margin: 0px;
      padding: 0px;
      cursor: pointer;
    }
  }

  .custom-selection-block p.selected {
    margin: 0px;
    padding: 3px 8px;
    background: white;
    border-radius: 29px;
    color: red;
    font-weight: 500;
  }

  .login-button-block {
    display: flex;
    column-gap: 15px;

    .sign-up-btn,
    .sign-in-btn {
      padding: 10px 15px;
      border: 1px solid white;
      border-radius: 50px;
      font-weight: 500;
      color: white;
    }

    .sign-up-btn:hover,
    .sign-in-btn:hover {
      background-color: white;
      color: red;
      font-weight: 500;
      cursor: pointer;
      border: none
    }
  }

  .nav-block {
    display: flex;
    column-gap: 30px;
  }

  .heading-container {
    display: flex;

    .content-block {
      width: 50%;
      margin-left: 50px;

      .heading {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 60px;
        font-weight: 500;
        line-height: 25px;
        flex-direction: column;
        margin-top: 70px;
      }

      .info-block {
        height: 150px;
        display: flex;
        justify-content: space-around;
      }
    }

    .content-block-inside {

      .search-block {
        margin-bottom: 35px;
        margin-top: 35px;

        .search {
          padding: 5px 10px;
          background: white;
          width: 67%;
          border-radius: 25px;
          display: flex;
          column-gap: 10px;
          align-items: center;

          input {
            border: none;
            width: 300px;
          }

          input:focus,
          input:active {
            border: none;
            outline: none;
          }

          .search-btn {
            background: black;
            color: white;
            padding: 4px 10px;
            border-radius: 59px;
            font-weight: 500;
            font-size: smaller;
            cursor: pointer;
          }

          .search-btn:hover {
            color: black;
            border: 1px solid black;
            background: white;
          }
        }
      }

      .info-sub-block {
        height: 150px;
        display: flex;
        column-gap: 90px;

        .info {
          text-align: center;

          h2 {
            color: white;
            font-size: 51px;
            font-weight: 700;
          }

          p {
            font-size: 25px;
            color: white;
            margin: -8px;
            padding: 0px;
            font-weight: 600;
          }
        }
      }
    }

    .content-img-block {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}

//--- Second Section Start

.second-container {
  margin: 15px 3%;
  border-radius: 2rem;

  .box {
    display: flex;
    height: 400px;

    .box-content {
      .heading-main {
        display: flex;
        justify-content: center;
        font-size: 60px;
        font-weight: 500;
        line-height: 25px;
        flex-direction: column;
        margin-top: 70px;
        margin-left: 50px;
      }

      .sub-content {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 200 !important;
        font-family: sans-serif !important;
        flex-direction: column;
        line-height: 5px;
        margin: 50px 50px 25px 50px;
      }

      .signup-container {
        span {
          padding: 5px 10px;
          border: 1px solid white;
          border-radius: 50px;
          font-weight: 500;
          color: white;
          margin: 51px 0px 0px 50px;
          background: red;
        }
      }

      .signup-container span:hover {
        background-color: white;
        color: red;
        font-weight: 500;
        cursor: pointer;
        border: none;
        border: 1px solid black;
      }
    }
  }

  .box>div {
    flex: 1;
  }

  .box>div:last-child {
    margin-left: -50vw;
    background: url('../../../assets/sccond-section.jpg') center/cover no-repeat;
    clip-path: polygon(calc(30vw + -81px) 0, 100% 0, 100% 100%, 0 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

//-- Third Section

.third-container {
  margin: 15px 3%;
  border-radius: 2rem;
  display: flex;

  .img-block {
    height: 413px !important;
    width: 50%;
    min-height: 400px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 21px;
    }
  }

  .box-content {
    .heading-main {
      display: flex;
      justify-content: center;
      font-size: 60px;
      font-weight: 500;
      line-height: 25px;
      flex-direction: column;
      margin-top: 70px;
      margin-left: 50px;
    }

    .sub-content {
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 200 !important;
      font-family: sans-serif !important;
      flex-direction: column;
      line-height: 5px;
      margin: 50px 50px 25px 50px;
      white-space: nowrap;
    }

    .signup-container {
      span {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 50px;
        font-weight: 500;
        color: white;
        margin: 51px 0px 0px 50px;
        background: red;
      }
    }

    .signup-container span:hover {
      background-color: white;
      color: red;
      font-weight: 500;
      cursor: pointer;
      border: none;
      border: 1px solid black;
    }
  }
}

.fifth-container {
  margin: 15px 3%;
  border-radius: 2rem;
  display: flex;

  .img-block {
    height: 413px !important;
    width: 50%;
    min-height: 400px;

    img {
      width: 100%;
      border-top-left-radius: 21px;
      border-bottom-left-radius: 21px;
      height: 100%;
    }
  }

  .box-content {
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    background: #fc353a;
    width: 50%;

    .heading-main {
      display: flex;
      justify-content: center;
      font-size: 60px;
      font-weight: 500;
      line-height: 25px;
      flex-direction: column;
      margin-top: 70px;
      margin-left: 50px;
      color: white;
    }

    .sub-content {
      color: white;
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 200 !important;
      font-family: sans-serif !important;
      flex-direction: column;
      line-height: 5px;
      margin: 50px 50px 25px 50px;
      white-space: nowrap;
    }

    .store-icon-container {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin: 0px 50px 25px 50px;

      img {
        width: 175px;
        height: 50px;
        border-radius: 12px;
        cursor: pointer;
      }
    }
  }
}

//--- map start
.map-container {
  margin: 15px 3%;
  border-radius: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;

  .heading {
    position: absolute;
    top: 10px;
    left: 15px;
    background: white;
    padding: 20px;
    line-height: 25px;
    border-radius: 21px;

    p {
      font-weight: 500;
      font-size: 40px;
      color: red;
    }
  }

  .map-block {
    width: 100%;
    height: 400px;
  }
}

//--- City List
.cities-container {
  margin: 15px 3%;
  border-radius: 2rem;
  overflow: hidden;

  .heading {
    font-weight: 500;
    font-size: 40px;
    color: black;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0px;
  }

  .city-list-container {
    display: flex;
    justify-content: space-evenly;

    .city-block {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
    }
  }
}

//--- Footer
footer .footer-container {
  display: flex;
  background: #fdf6f2;
  margin: 15px 3%;
  border-radius: 2rem;
  overflow: hidden;
  .logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;

    .logo {
      line-height: 16px;
      display: flex;
      flex-direction: column;
      margin-left: 10rem;
      color: red;

      p {
        font-weight: 500;
        font-size: 40px;
        color: red;
      }
    }

    .rights-notes-block {
      margin: 30px 0px 0px 10rem;
      position: absolute;
      bottom: 5px;

      .rights-notes {
        font-size: 10px;
      }
    }
  }

  .footer-content {
    display: flex;
    width: 50%;
    font-size: 14px;

    .content-block {
      display: flex;
      column-gap: 34px;
      margin-top: 15px;
    }

    .social-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }


}
