<div class="main-container">
  <div class="nav-container">
    <div class="nav-block">
      <div class="logo-block">
        <img
          (click)="open(content)"
          src="../../../assets/humberger_icon.png"
          alt="menu-icon"
        />
      </div>
      <div class="logo">
        <p>Go</p>
        <p>Grubz</p>
      </div>
    </div>
    <div class="custom-selection-block">
      <p
        [class.selected]="selectedItem === 'Order'"
        (click)="selectItem('Order')"
      >
        Order
      </p>
      <p
        [class.selected]="selectedItem === 'Location'"
        (click)="selectItem('Location')"
      >
        Locations
      </p>
      <p
        [class.selected]="selectedItem === 'Contact Us'"
        (click)="selectItem('Contact Us')"
      >
        Contact Us
      </p>
      <p
        [class.selected]="selectedItem === 'About Us'"
        (click)="selectItem('About Us')"
      >
        About Us
      </p>
      <p
        [class.selected]="selectedItem === 'Add your Restaurant'"
        (click)="selectItem('Add your Restaurant')"
      >
        Add your Restaurant
      </p>
    </div>
    <div class="login-button-block">
      <span class="sign-up-btn">Sign Up</span>
      <span class="sign-in-btn">Sign in</span>
    </div>
  </div>
  <div class="heading-container">
    <div class="content-block">
      <div class="heading">
        <p>Why Go out when,</p>
        <br>
        <p>you can Grubz in</p>
      </div>
      <div class="content-block-inside">
        <div class="search-block">
          <div class="search">
            <img src="../../../assets/send-fill.svg.svg" alt="send fill svg">
            <input type="text" placeholder="Enter postcode or delivery address"/>
            <span class="search-btn">Search</span>
          </div>
        </div>
        <div class="info-sub-block">
          <div class="info">
            <h2>300</h2>
            <p>Restaurants</p>
          </div>
          <div class="info">
            <h2>30,000</h2>
            <p>Users</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-img-block">
      <img src="../../../assets/burger_img.jpeg" alt="burger image">
    </div>
  </div>
</div>

  <!-- Second Section -->
  <div class="second-container">
    <div class="box">
      <div class="box-content">
        <div class="heading-main">
          <p>Join the</p>
          <br>
          <p>movement</p>
        </div>
        <div class="sub-content">
          <p>Grow your business and reach new</p>
          <br>
         <p>costumers by partnering with us</p>
        </div>
        <div class="signup-container">
          <span >
            Signup you store
          </span>
        </div>
      </div>
      <div></div>
    </div>
  </div>

  <!-- Third section -->
  <div class="third-container">
    <div class="img-block">
      <img src="../../../assets/third_section_burger.jpeg" alt="single burger">
    </div>
    <div class="box-content">
      <div class="heading-main">
        <p>Everything you</p>
        <br>
        <p>crave, delivered.</p>
      </div>
      <div class="sub-content">
        <p>Get a pizza or a curry delivered, or pickup some chicken</p>
        <br>
       <p>Chow mein from a chinese takeout spot you've been meaning to try.</p>
      </div>
      <div class="signup-container">
        <span >
          Find Restaurant
        </span>
      </div>
    </div>
  </div>

    <!-- Fourth section -->
    <div class="third-container">
      <div class="box-content">
        <div class="heading-main">
          <p>Find the perfect</p>
          <br>
          <p>cuisine for you.</p>
        </div>
        <div class="sub-content">
          <p>Start swiping right for your taste buds - you will be soon find the cuisine</p>
          <br>
         <p>That's a perfect match for your cravings.</p>
        </div>
        <div class="signup-container">
          <span >
            Discover Cuisines
          </span>
        </div>
      </div>
      <div class="img-block">
        <img src="../../../assets/eating_burger_fourth_section.jpeg" alt="eating_burger_fourth_section">
      </div>
    </div>

    <!-- Fifth section -->
    <div class="fifth-container">
      <div class="img-block">
        <img src="../../../assets/fith_download-app.jpeg" alt="fifth_download_app">
      </div>
      <div class="box-content">
        <div class="heading-main">
          <p>Download</p>
          <br>
          <p>our App</p>
        </div>
        <div class="sub-content">
          <p>our app gives you access to your favorite restaurants.</p>
          <br>
         <p>Get your food delivered right to you</p>
        </div>
        <div class="store-icon-container">
         <div>
          <img src="./../../../assets/app_img.jpeg" alt="apple_store_icon">
         </div>
         <div>
          <img src="./../../../assets/play_store_img.jpeg" alt="play_store_icon">
         </div>
        </div>
      </div>
    </div>

    <!-- Map Section-->
    <div class="map-container">
      <div class="heading">
        <p>Restaurants</p>
        <p>near me</p>
      </div>
      <div class="map-block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235013.74904432564!2d72.4145821211635!3d23.02047374848031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1707368358508!5m2!1sen!2sin" width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <!-- All Cities Section -->
    <div class="cities-container">
      <div class="heading d-flex justify-center align-center">
        <p>View all cities</p>
      </div>
      <div class="city-list-container">
        <div class="city-block">
          <p>Aberdeen</p>
          <p>Belfast</p>
          <p>Birmingham</p>
          <p>Brighton and Sussex</p>
          <p>Cambridge and East Anglia</p>
          <p>Cardiff</p>
        </div>
        <div class="city-block">
          <p>Edinburgh</p>
          <p>Glasgow</p>
          <p>Hull</p>
          <p>Leeds</p>
          <p>Leicester</p>
          <p>London</p>
        </div>
        <div class="city-block">
          <p>Manchester</p>
          <p>Merseyside</p>
          <p>North East</p>
          <p>Northampton</p>
          <p>Milton Keynes</p>
          <p>Nottingham</p>
        </div>
        <div class="city-block">
          <p>Oxford</p>
          <p>Sheffield</p>
          <p>South coast</p>
          <p>South West</p>
          <p>Stoke</p>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <Footer>
    <div class="footer-container">
      <div class="logo-block">
        <div class="logo">
          <p>Go</p>
          <p>Grubz</p>
        </div>
        <div class="rights-notes-block">
          <p class="rights-notes">&#64; 2022 GoGrubz Ltd. All Rights Reserved.</p>
        </div>
      </div>
      <div class="footer-content">
        <div class="content-block">
          <div class="content">
            <p>Get Help</p>
            <p>Buy gift cards</p>
            <p>Add your restaurant</p>
            <p>Sign up to deliver</p>
            <p>Create a business account</p>
            <p>Promotions</p>
          </div>
          <div class="content">
            <p>Restaurants near me</p>
            <p>View all cities</p>
            <p>View all countries</p>
            <p>Pickup near me</p>
            <p>About Us</p>
            <p>English</p>
          </div>
        </div>
        <div class="social-block">
          <p>FOLLOW US</p>
          <div>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
          </div>
        </div>
      </div>
    </div>
    </Footer>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </form>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="offcanvas.close('Save click')"
      >
        Save
      </button>
    </div>
  </div>
</ng-template>


