<!-- Fifth section -->
<div class="fifth-container">
  <div class="img-block">
    <img src="../../../assets/fith_download-app.jpeg" alt="fifth_download_app">
  </div>
  <div class="box-content">
    <div class="heading-main">
      <p>Download</p>
      <br>
      <p>our App</p>
    </div>
    <div class="sub-content">
      <p>Our app gives you access to your favorite restaurants.</p>
      <br>
     <p>Get your food delivered right to you</p>
    </div>
    <div class="store-icon-container">
     <div>
      <img src="./../../../assets/app_img.jpeg" alt="apple_store_icon">
     </div>
     <div>
      <img src="./../../../assets/play_store_img.jpeg" alt="play_store_icon">
     </div>
    </div>
  </div>
</div>

<!-- Map Section-->
<div class="map-container">
  <div class="heading">
    <p>Restaurants</p>
    <p>near me</p>
  </div>
  <div class="map-block">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235013.74904432564!2d72.4145821211635!3d23.02047374848031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1707368358508!5m2!1sen!2sin" width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<!-- All Cities Section -->
<div class="cities-container">
  <div class="heading d-flex justify-center align-center">
    <p>View all cities</p>
  </div>
  <div class="city-list-container">
    <div class="city-block">
      <p>Aberdeen</p>
      <p>Belfast</p>
      <p>Birmingham</p>
      <p>Brighton and Sussex</p>
      <p>Cambridge and East Anglia</p>
      <p>Cardiff</p>
    </div>
    <div class="city-block">
      <p>Edinburgh</p>
      <p>Glasgow</p>
      <p>Hull</p>
      <p>Leeds</p>
      <p>Leicester</p>
      <p>London</p>
    </div>
    <div class="city-block">
      <p>Manchester</p>
      <p>Merseyside</p>
      <p>North East</p>
      <p>Northampton</p>
      <p>Milton Keynes</p>
      <p>Nottingham</p>
    </div>
    <div class="city-block">
      <p>Oxford</p>
      <p>Sheffield</p>
      <p>South coast</p>
      <p>South West</p>
      <p>Stoke</p>
    </div>
  </div>
</div>

<!-- Footer Start -->
<Footer>
<div class="footer-container">
  <div class="logo-block">
    <div class="logo">
      <p>Go</p>
      <p>Grubz</p>
    </div>
    <div class="rights-notes-block">
      <p class="rights-notes">&#64; 2022 GoGrubz Ltd. All Rights Reserved.</p>
    </div>
  </div>
  <div class="footer-content">
    <div class="content-block">
      <div class="content">
        <p>Get Help</p>
        <p>Buy gift cards</p>
        <p>Add your restaurant</p>
        <p>Sign up to deliver</p>
        <p>Create a business account</p>
        <p>Promotions</p>
      </div>
      <div class="content">
        <p>Restaurants near me</p>
        <p>View all cities</p>
        <p>View all countries</p>
        <p>Pickup near me</p>
        <p>About Us</p>
        <p>English</p>
      </div>
    </div>
    <div class="social-block">
      <p>FOLLOW US</p>
      <div class="social-icon-block">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
      </div>
    </div>
  </div>
</div>
</Footer>
